* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: Alfred Sans Regular, Helvetica Neue, Arial, sans-serif;
}

.logo {
    text-align: center;
    padding: 15px 0;
}

.logo img {
    width: 12%;
    height: auto;
}

#main-menu {
    width: 100%;
    height: auto;
}

#nav-main {
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    background-color: #fff;
}

#nav-main li {
    position: relative;
    list-style: none;
    padding: 0 30px;
}

#nav-main>li>a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 550;
    color: #ac9e56;
    display: block;
}

#main-menu>#nav-main>li>a {
    position: relative;
}

#main-menu>#nav-main>li>a::before {
    content: "";
    height: 0.2vh;
    width: 100%;
    background-color: #ac8314;
    position: absolute;
    bottom: 0px;
    display: none;

}

#main-menu>#nav-main>li:hover>a::before {
    display: block;

}

#nav-main ul.sub-menu {
    position: absolute;
    padding: 15px 0;
    width: 170px;
    display: none;
    background-color: #fff;
}

#nav-main li:hover>ul.sub-menu {
    display: block;
}

#nav-main ul.sub-menu li a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 12px;
}

#nav-main ul.sub-menu li {
    padding: 10px 0px;
}

#nav-main ul.sub-menu li a {
    color: #ac8314;
}

#nav-main ul.sub-menu li:hover a {
    color: #e2ad23;
    background-color: white;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    padding-top: 1.6vh;
}

.header-col-content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: red; */
}

.top-header-col-content {
    width: 78vw;
    height: auto;
    margin-left: 11vw;
    margin-right: 11vw;
}

.col-main-content {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}

.col-half-desc {
    width: 68%;
    height: auto;
    font-size: 1.2rem;
    font-family: 'Hanken Grotesk', sans-serif;

}

.col-half-fact {
    width: 30%;
    height: auto;
    /* background-color: chartreuse; */
    font-size: 1.2rem;
    font-family: 'Hanken Grotesk', sans-serif;


}

.title {
    text-align: center;
    padding: 2vw 0;
    font-size: 2.5vw;
    font-weight: 550;
    color: #e2ad23;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.col {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
}

.col-half {
    width: 45%;
}

.topic {
    padding-bottom: 1.6vh;
}

.desc {
    text-align: justify;
    padding: 4vw 0;
    line-height: 1.2;
    font-size: 1.4vw;
}

.img-desc img {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 3.2vw;
}

.btn .regist {
    width: 10vw;
    height: 5vh;
    font-size: 1.4vw;
    background-color: #ac8314;
    color: #fff;
    border: 1px solid;
    cursor: pointer;
}

.btn .regist:hover {
    background-color: #e2ad23;
}


#footer {
    padding: 6.4vh 1.6vw;
    text-align: center;
    background-color: #ac8314;
}

#footer .social-list {
    font-size: 2.4vw;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover,
#footer .copyright a {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 1.5vh;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6vw;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}